@font-face {
  font-family: "MPLUS2";
  src: url("@/assets/font/MPLUS2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MPLUS2-Medium";
  src: url("@/assets/font/MPLUS2-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Akshar";
  src: url("@/assets/font/Akshar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Akshar-Light";
  src: url("@/assets/font/Akshar-Light.ttf") format("truetype");
}

:root {
  font-family: "MPLUS2";
  /* font-family: "BIZUDPGothic"; */
  /* font-family: "MPLUS1p"; */
  color: #ffffe0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
  background-image: url("@/assets/img/sky42.jpg");
  /* background-image: url("@/assets/img/sky21.jpg"); */
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

.scaleFlame {
  animation: scale 1.0s ease-out;
}

@keyframes scale {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}